@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;1,100&display=swap');

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff60;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
}

:root{
    --dcs-emerald-dark: #30a655;
    --dcs-violet: #6c00d9;
    --dark-jungle-green: #00120b;
    --grey-1: #f0f0f1;
    --grey-2: #e1e0e2;
    --grey-3: #c2c0c5;
    --pure-white: #ffffff;
    --pure-black: #000000;
    --line-color: #3d3d3d;
    --background-color: #000000;
    --footer-text: #ffffff;
    --error: #ff0e0e;
    --success: #30a655;
    --headlines-color: #ffffff;
    --body-text-color: #c2c0c5;
    --contact-text:16px;
    /* --body-1-font: 14px;
    --body-2-font: 20px;
    --body-3-font: 16px; */
    --footer-cat-font: 14px;
    --links-font: 14px;
    --button-text-font: 16px;
    --subhead-1-font: 20px;
    --subhead-2-font: 22px;
    --subhead-3-font: 24px;
    --navbar-web-font: 14px;
    --navbar-mobile-font: 24px;
    --dm-mono-font: 'DM Mono', 'monospace';
    --neue-machina-font: 'Neue Machina';
}
a{
    color: var(--body-text-color) !important;
    font-size: var(--links-font) !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6{
    color: var(--headlines-color) !important;
    font-family: var(--neue-machina-font) !important;
}

h1{
    font-size: calc(48px + (96 - 48) * ((100vw - 300px) / (2400 - 300))) !important;
    line-height: 1 !important;
    font-weight: normal !important;
    letter-spacing: -1.5px !important;
}
h2{
    font-size: calc(36px + (64 - 36) * ((100vw - 300px) / (2600 - 300))) !important;
    line-height: 1 !important;
    font-weight: normal !important;
    letter-spacing: -1.5px !important;
}
h3{
    font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (2600 - 300))) !important;
    line-height: 1 !important;
    font-weight: normal !important;
    letter-spacing: -1px !important;
}
h4{
    font-size: 36px !important;
    line-height: 0.9 !important;
    font-weight: normal !important;
    letter-spacing: -0.8px !important;
}
h5{
    font-size: 24px !important;
    line-height: 0.8 !important;
    font-weight: normal !important;
    letter-spacing: -0.5 !important;
}
h6{
    font-size: 18px !important;
    line-height: 0.7 !important;
    font-weight: normal !important;
    letter-spacing: -0.2px !important;
}
.preloader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
}
.loading-block{
    overflow: hidden;
}
.loading-block span{
    font-size: 20px;
    font-family: var(--neue-machina-font);
}
.loading-bar{
    margin-top: 15px;
    width: 100%;
    height: 2px;
    background-color: #ffffff20;
}
.bar-progress{
    width: 0%;
    height: 2px;
    background-color: #ffffff;
}
body{
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    background-color: var(--background-color) !important;
    color: var(--body-text-color) !important;
    font-family: var(--dm-mono-font) !important;
}
.other-pages-header-section{
    height: 80vh !important;
}
.about-us-header-section{
    position: relative;
}
.about-us-header-section-cover{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center center;
}
.about-us-img-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #00000080;
}
.menu-icon-lines{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu-icon-lines span{
    width: 48px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 4.6px 0px;
}
.menu-icon-lines span:nth-child(2){
    width: 28px;
}
.menu-icon-lines span:nth-child(3){
    width: 38px;
}
.menu-icon:hover .line{
    transform: translateY(0px);
}
.hide-overflow{
    overflow: hidden;
}
.position-relative{
    position: relative;
}
.menu-active{
    display: flex !important;
}
.remove-top-padding{
    padding-top: 0px !important;
}
.remove-bot-padding{
    padding-bottom: 0px !important;
}
.remove-padding{
    padding: 0px !important;
}
.remove-margin{
    margin: 0px !important;
}
.section-padding{
    padding: 3% 1.5%;
}
.core-value-block{
    padding-bottom: 25px;
}
@media (max-width: 992px){
    .core-value-title{
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }
    
    .testimonial-col{
        order: 2;
    }
    .testimonial-about{
        padding-right: 0px !important;
    }
    .testimonial-paragraphs{
        margin-bottom: 15%;
    }
    .section-padding{
        padding: 3% 3%;
    }
    .case-study-col{
        border-right: none !important;
    }
}
.nav-sidebar-wrapper{
    position: relative;
}
.nav-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 16%;
    position: fixed;
    border-right: 1px solid var(--line-color);
    padding-bottom: 30px;
}
.brand{
    padding: 30px 20px;
}
@media (max-width: 992px) {
    .sidebar-links a>li{
        font-size: var(--navbar-mobile-font) !important;
        font-family: var(--neue-machina-font) !important;
    }
}
.sidebar-link-mobile{
    display: flex;
    justify-content: space-between;
}
.sidebar-link-mobile span{
    color: #ffffff90;
    font-size: 14px;
}
.sidebar-links{
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.sidebar-link{
    padding: 15px 20px;
    border-bottom: 1px solid var(--line-color);
    transition: background-color .3s ease-in-out;
}
.sidebar-links a{
    font-size: var(--navbar-web-font) !important;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}
.sidebar-links a:hover .sidebar-link{
    background-color: #ffffff15;
    transition: background-color .3s ease-in-out;
}
.social-links{
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.social-link{
    overflow: hidden;
}
.social-link a{
    padding: 8px 20px;
    transition: color .3s ease-in-out;
    display: block;
    width: 100%;
    text-transform: uppercase;
}
.social-link a::after{
    display: inline-block;
    content: url(../img/link-arrow.svg);
    margin-left: 5px;
    transition: all .3s ease-in-out;
    transition:  .3s ease-in-out; 
}
.social-link a:hover::after{
    filter: invert(47%) sepia(38%) saturate(811%) hue-rotate(86deg) brightness(106%) contrast(83%);
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}
.social-link a:hover{
    color: var(--dcs-emerald-dark) !important;
    transition: all .3s ease-in-out;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
}
.mobile-nav{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
    text-decoration-style: dotted !important;
}
.mobile-nav-brand img{
    min-width: 225px;
}
.mobile-navigation-bar{
    display: none;
}
.info-wrap{
    overflow: hidden;
}
.company-info{
    padding: 20px 20px;
}
.company-info span{
    font-family: var(--neue-machina-font);
    color: var(--pure-white);
}
.location{
    margin-top: 20px;
}
.menu-icon{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    background-color: var(--dcs-emerald-dark);
}
.mobile-nav-brand{
    padding: 0px 20px;
}
.first-col-button{
    display: none;
}
.second-col-button{
    margin-top: 15px;
}
.intro-paragraph{
    margin-bottom: 20px !important;
}
@media (min-width: 1400px){
    .headline-block h1{
        max-width: 50%;
    }
    .single-solution-headline-block h1{
        max-width: 50%;
    }
}
@media (max-width: 992px){
    .single-solution-headline-block{
        justify-content: center !important;
    }
    .hidden-text{
        display: none;
    }
    .headline-block h1{
        max-width: 80%;
    }
    .intro-content{
        padding: 0px !important;
    }
}
@media (min-width: 992px) {
    .case-study-second-col h2{
        text-indent: 10%;
    }
    .qualities-col{
        border-right: 1px solid var(--line-color);
    }
    .company-news-headline{
        width: 60%;
    }
    .sidebar-links{
        border-top: 1px solid var(--line-color);
    }
    .what-is-dcs-headline{
        text-indent: 10%;
    }
    .company-news-headline{
        text-indent: 10%;
    }
    .first-col-button{
        display: block !important;
    }
    .second-col-button{
        display: none;
    }
    .headline-paragraph{
        padding-right: 50%;
    }
    .headline-block h1{
        text-indent: 10%;
        max-width: 70%;
    }
    .single-solution-headline-block h1{
        text-indent: 10%;
        max-width: 70%;
    }
    .intro-section h2{
        padding-right: 30%;
        text-indent: 10%;
    }
    .services-section h2{
        padding-right: 50%;
        text-indent: 10%;
    }
    .solutions-headline{
        text-indent: 10%;
        width: 70%;
    }
    .benefits-section h2{
        text-indent: 10%;
        max-width: 50%;
        margin-bottom: 10%;
    }
}
@media (max-width: 998px) {
    .header-section{
        height: 80vh !important;
    }
    .intro-section{
        padding: 8% 3% !important;
    }
    .solutions-section{
        padding: 10% 3% !important;
    }
    .solutions-heading{
    align-items: flex-start !important;
    flex-direction: column !important;
    padding: 15% 0px;
    }
    .solutions-button{
        margin-top: 35px;
    }
    .mobile-navigation-bar{
        display: block;
    }
    .site-content{
        margin: 0px !important;
    }
    .header-top-block{
        display: none !important;
    }
    .nav-sidebar{
        display: none;
    }
    .nav-menu{
    height: 90vh;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    z-index: 2;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    }
  }
  .site-content{
      margin-left: 16%;
      overflow: hidden !important;
  }
  .header-section{
      position:relative;
      z-index: 1;
      width: 100%;
      height: 100vh;
  }
  .gradient-wrapper{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    flex-direction: column;
  }
  .gradient-wrapper-solutions{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    flex-direction: column;
  }
  .gradient-wrapper-about{
      z-index: 0 !important;
  }
  .gradient-1{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(108,0,217,0.5) 0%, rgba(255,255,255,0) 70%);
  }
  .gradient-2{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(108,0,217,0.5) 0%, rgba(255,255,255,0) 100%);
  }
  .gradient-3{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(108,0,217,0.5) 0%, rgba(255,255,255,0) 65%);
  }
  .gradient-4{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(108,0,217,0.5) 0%, rgba(255,255,255,0) 80%);
  }
  .gradient-5{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(108,0,217,0.5) 0%, rgba(255,255,255,0) 45%);
  }
  .header-top-block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .line-separator{
        width: 103% ;
        height: 1px;
        background-color: var(--line-color);
        margin-left: -1.5%;
  }
  .info-text-block{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
  }
  .info-card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dcs-emerald-dark);
    padding: 35px 35px;
    margin-top: -3.5%;
    height: 100%;
    margin-right: -1.5%;
    width: 30%;
    z-index: 2;
  }
  .info-card div>a{
      font-size: var(--contact-text) !important;
      color: var(--pure-white) !important;
      word-break: break-all;
      font-family: var(--neue-machina-font);
  }
  .info-card div>a:hover{
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
  }
  .info-text-wrap{
      width: 100%;
      overflow: hidden;
  }
  .info-text{
      line-height: 1.2;
      width: 100%;
  }
  .info-text p{
      color: var(--pure-white);
      font-size: var(--body-1-font);
      margin: 0px;
      text-indent: 10%;
  }
  .info-text span{
      color: #7B7B7B;
      font-size: var(--body-1-font);
  }
  .headline-block{
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
  .single-solution-headline-block{
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
  .headline-block h1{
      margin: 0px;
  }
  .single-solution-headline-block h1{
      margin: 0px;
  }
  .headline-paragraph{
      font-size: var(--body-2-font);
      margin: 30px 0px
  }
  .headline-button{
    padding: 20px 30px;
    display: block;
  }
  .button::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    border-top: 1px solid;
    border-left: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .button::after{
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    border-top: 1px solid;
    border-right: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .button span:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .button span::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .button:hover.button::before{
      width: 30px;
      height: 30px;
      transition: all .3s ease-in-out;
  }
  .button:hover.button::after{
    width: 30px;
    height: 30px;
    transition: all .3s ease-in-out;
}
.button:hover.button span::before{
    width: 30px;
    height: 30px;
    transition: all .3s ease-in-out;
}
.button:hover.button span::after{
    width: 30px;
    height: 30px;
    transition: all .3s ease-in-out;
}
.picture-button::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    border-top: 1px solid;
    border-left: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .picture-button::after{
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    border-top: 1px solid;
    border-right: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .picture-button span{
      color: var(--pure-white) !important;
  }
  .picture-button span:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .picture-button span::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }
  .picture-button:hover.picture-button::before{
      width: 25px;
      height: 25px;
      transition: all .3s ease-in-out;
  }
  .picture-button:hover.picture-button::after{
    width: 25px;
    height: 25px;
    transition: all .3s ease-in-out;
}
.picture-button:hover.picture-button span::before{
    width: 25px;
    height: 25px;
    transition: all .3s ease-in-out;
}
.picture-button:hover.picture-button span::after{
    width: 25px;
    height: 25px;
    transition: all .3s ease-in-out;
}
  .button{
      position: relative;
      background-color: var(--dcs-violet);
      color: var(--pure-white) !important;
      font-size: var(--button-text-font) !important;
      transition: background-color .3s ease-in-out;
      margin-left: 10px;
      text-transform: uppercase !important;
      font-family: var(--neue-machina-font);
  }
  .picture-button{
      font-family: var(--neue-machina-font);
      text-transform: uppercase;
      margin-left: 10px;
  }
  .button:hover{
      background-color: var(--dcs-emerald-dark) !important;
      transition: background-color .3s ease-in-out;
  }
  .intro-section{
      border-top: 1px solid var(--line-color);
      padding: 8% 1.5%;
  }
  .intro-button{
      padding: 15px 35px;
  }
  .intro-info-text{
    display: flex;
    line-height: 1.1;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    border-left: 1px solid var(--line-color);
    padding-left: 5px;
    font-family: var(--neue-machina-font);
  }
  .intro-info-text p{
      margin: 0px;
      font-size: var(--body-1-font);
      color: var(--pure-white);
  }
  .intro-info-text span{
      font-size: var(--body-1-font);
      color: #C2C0C5;
  }
  .intro-row{
      margin-top: 5% !important;
  }
  .intro-row .col-lg-4{
      margin: 2% 0%;
  }
  .intro-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
  }
  .intro-paragraph{
      font-size: var(--body-1-font);
      color: #C2C0C5;
      margin: 0px;
  }
  .services-section{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/section-background-1.png);
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--line-color);
  }
  .services-row{
      margin-top: 10% !important;
  }
  .services-ul{
      list-style: none;
  }
  .service-line{
    width: 100%;
    height: 1px;
    background-color: var(--pure-white);
  }
  .service{
    display: flex;
    padding: 20px 0%;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
  }
  .service-content{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .link-arrow{
    transition: all .3s ease-in-out;
  }
  .service:hover .link-arrow{
      transform: rotate(45deg) translateX(-5px) translateY(5px); 
      transition: all .3s ease-in-out;
  }
  .service:hover .service-title{
      opacity: 0.5;
      transition: opacity .3s ease-in-out;
  }
  .service:hover .hidden-text{
      top: 0px;
      opacity: 1;
      transition: all .3s ease-in-out;
  }
  .hidden-text{
      position: relative;
      top: 50px;
      opacity: 0;
      transition: all .3s ease-in-out;
  }
  .service h5{
      margin: 0px !important;
  }
  .sidebar-link-web{
      overflow: hidden;
  }
  .sidebar-link-web img{
      position: relative;
      left: -15px;
      margin-left: -14px;
      transition: all .3s ease-in-out;
  }
  .link-text{
      position: relative;
      display: inline-block;
      transition: all .3s ease-in-out;
  }
  .sidebar-link-web:hover .link-text{
      transform:translateX(15px);
      transition: all .3s ease-in-out;
      filter: invert(47%) sepia(38%) saturate(811%) hue-rotate(86deg) brightness(106%) contrast(83%);
  }
  .sidebar-link-web:hover  .link-image{
    transform: translateX(20px);
    transition: all .3s ease-in-out;
    filter: invert(47%) sepia(38%) saturate(811%) hue-rotate(86deg) brightness(106%) contrast(83%);
}
  .qualities-section{
      border-bottom: 1px solid var(--line-color);
  }
  .image-wrapper{
      position: relative;
      width: 100%;
  }
  .image-reveal{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--pure-black);
      z-index: 2;
  }
  @media (max-width: 768px){
      .quality-card, .quality-card-01, .quality-card-02, .quality-card-03{
          padding: 20px 0px !important;
          border-right: none !important;
          border-left: none !important;
          min-height: auto !important;
      }
      .quality-card-03{
          border-bottom:1px solid var(--line-color) !important;
      }
      .quality-card-paragraph{
          margin-top: 5px !important;
      }
      .quality-card img{
          margin-bottom: 25px !important;
      }
  }
  .solutions-header-section{
    height: 55vh !important;
}
  @media (max-width: 992px){
      .headline-check-qualities{
          width: 94% !important;
          left: 3% !important;
          right: 0px !important;
      }
      .insight-title{
          margin-top: 10px !important;
          margin-bottom: 15px !important;
      }
      .footer-cat{
          margin-bottom: 20px;
      }
      .info-col{
          border-right: none !important;
      }
      .headline-block{
          justify-content: flex-end !important;
      }
      .solutions-headline-block{
          height: 100%;
      }
      .solutions-headline-block h1{
          max-width: none !important;
      }
      .company-news-heading{
          padding-bottom: 15%;
          border-bottom: 1px solid var(--line-color);
      }
      .case-study-col-1{
          order: 1;
      }
      .case-study-col-2{
        order: 2;
    }
      .count-block:first-of-type{
          border-top: 1px solid var(--line-color);
      }
      .headline-line-separator{
          display: none !important;
      }
      .company-news-heading{
        align-items: flex-start !important;
        flex-direction: column !important;
      }
      .company-news-button{
          margin-top: 25px;
      }
      .intro-info-text{
        margin: 20px 0px;
      }
      .case-study-second-col{
          padding: 0px !important;
      }
      .case-study-block{
          margin-top: 10% !important;
      }
      .case-study-block-second{
          margin-top: 10% !important;
      }
      .case-study-block .sub-head-1{
          display: none;
      }
      .case-study-number{
          padding-bottom: 10px;
      }
      .count-block{
          width: 100% !important;
          padding: 40px 0px !important;
          border-right: none !important;
          border-left: none !important;
          padding-left: 1.5% !important;
      }
      .quality-card{
          border-right: 1px solid var(--line-color);
      }
  }
  .quality-card-01, .quality-card-02{
      border-bottom: 1px solid var(--line-color);
  }
  .core-value-title{
      margin-top: 5px;
      margin-bottom: 20px;
  }
  .quality-card{
    padding: 40px 25px;
    min-height: 570px;
    border-left: 1px solid var(--line-color);
}
.quality-card-single-solution{
    min-height: 545px !important;
}
  .quality-card .number{
      font-size: 16px;
      font-family: var(--dm-mono-font);
  }
  .quality-card img{
      margin: 15px 0px;
      object-fit: cover;
      object-position: center center;
  }
.sub-head-1{
      font-size: var(--subhead-1-font);
      font-weight: 600;
      color: var(--pure-white);
      margin-bottom: 20px;
      font-family: var(--neue-machina-font);
  }
  .quality-card-paragraph{
      margin-top: 20px;
  }
  .first-col-qualities{
      padding-top: 40px !important;
  }
  .count-block{
      padding: 40px 25px;
      width: 103%;
      border-bottom: 1px solid var(--line-color);
      border-left: 1px solid var(--line-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start
  }
  .user-served-text{
      margin: 0px;
      font-size: var(--body-1-font);
      color: #C2C0C5;
  }
  .count-number{
    font-size: calc(48px + (72 - 48) * ((100vw - 300px) / (2400 - 300))) !important;
      line-height: 1;
      color: var(--pure-white);
      margin-bottom: 15px;
  }
  .count-section{
      border-bottom: 1px solid var(--line-color);
  }
  .last-count-block{
      border-bottom: none;
  }
  .solutions-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/solutions-background.png);
    width: 100%;
    border-bottom: 1px solid var(--line-color);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
  }
  .solutions-heading{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.case-studies-section{
    border-bottom: 1px solid var(--line-color);
}
.case-study-col{
    border-right: 1px solid var(--line-color);
    padding-top: 3% !important;
    padding-bottom: 3% !important;
}
.case-study-second-col{
    padding-top: 3%;
    padding-bottom: 3%;
}
.case-study-second-col h2{
    font-weight: 300 !important;
}
.case-study-block{
    width: 100%;
    height: 100%;
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
}
.case-study-block-second{
    margin-top: 30%;
}
.case-study-number{
    font-size: var(--links-font);
}
.case-study-block .sub-head-1{
    font-size: var(--subhead-1-font);
    color: var(--pure-white);
    margin: 15px 0px;
}
.case-study-paragraph{
    font-size: var(--body-1-font);
}
.case-study-picture-block{
    width: 100%;
    height: 40em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
}
.case-study-picture-block img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}
.picture-title{
    font-size: var(--subhead-3-font);
    line-height: 1;
    color: var(--pure-white);
}
.picture-button{
    position: relative;
    margin-top: 15px;
    padding: 15px 40px;
    background-color: #ffffff15;
    transition: background-color .3s ease-in-out;
}
.picture-button:hover{
    background-color: var(--dcs-emerald-dark);
    transition: background-color .3s ease-in-out;
}
.company-news-section{
    border-bottom: 1px solid var(--line-color);
}
.company-news-heading{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.insights-row{
    margin-top: 10% !important;
    margin-bottom: 3% !important;
}
.insight-block{
    margin: 5% 0px;
}
.insight-img-wrap{
    position: relative;
}
.insight-image-reveal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pure-black);
}
.insight-number{
    margin-top: 10px;
}
.insight-number span{
    font-family: var(--dm-mono-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.insight-title{
    margin-top: 50px ;
    font-family: var(--neue-machina-font);
    margin-bottom: 25px ;
}
.insight-title span{
    font-size: var(--subhead-2-font);
    font-weight: 400;
    line-height: 1;
    color: var(--pure-white);
}
.insight-button a{
    font-size: 14px !important;
    font-family: var(--dm-mono-font);
    text-decoration: underline !important;
    text-transform: uppercase;
}
.insight-link img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.testimonial-section-about{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.testimonial-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 20px;
}
.testimonial-info h4{
    margin-top: 25px;
    margin-bottom: 20px;
}
.testimonial-info img{
    display: none;
}
.testimonial-social-links{
    font-size: 18px;
    font-family: var(--neue-machina-font);
}
.testimonial-social-links a:hover{
    text-decoration: underline var(--dcs-emerald-dark) !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
    color: var(--dcs-emerald-dark) !important;
    transition: all .3s ease-in-out;
}
.testimonial-section{
    border-bottom: 1px solid var(--line-color);
}
.testimonial-id{
    display: flex;
    flex-direction: column;
    padding-top: 3% !important;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400 !important;
    font-family: var(--neue-machina-font);
}
.info-col{
    padding-top: 3% !important;
    border-right: 1px solid var(--line-color);
}
.name-surname{
    color: var(--error);
}
.job-role{
    color: var(--pure-white);
}
.testimonial-paragraph{
    margin-top: 10%;
    font-size: 32px;
    color: #ffffff90;
    font-family: var(--neue-machina-font);
    line-height: 1;
}
.testimonial-paragraph-about{
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testimonial-paragraph-about p{
    margin-bottom: 10%;
}
@media (max-width:992px) {
    .testimonial-paragraph-about p{
        margin-top: 5%;
    }
}
.testimonial-id-about{
    border-left: 1px solid var(--line-color);
    padding-left: 5px;
    padding-top: 0px !important;
}
.testimonial-id-about-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.optimisation-section{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/optimisation-background.png);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
}
.footer-gradient-wrapper{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: -1;
    flex-direction: column;
  }
  .footer-gradient-1{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(48,166,85,0.5) 0%, rgba(255,255,255,0) 60%);
  }
  .footer-gradient-2{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(48,166,85,0.5) 0%, rgba(255,255,255,0) 90%);
  }
  .footer-gradient-3{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(48,166,85,0.5) 0%, rgba(255,255,255,0) 55%);
  }
  .footer-gradient-4{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(48,166,85,0.5) 0%, rgba(255,255,255,0) 70%);
  }
  .footer-gradient-5{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgba(48,166,85,0.5) 0%, rgba(255,255,255,0) 35%);
  }
.footer-category-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0px;
}
.footer-cat{
    font-size: var(--footer-cat-font);
}
.what-is-dcs-and-certificate{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.certificate{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
.what-is-dcs-headline{
    width: 50%;
    font-size: 24px;
    line-height: 1;
    color: var(--pure-white);
}
.footer-contact{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--neue-machina-font);
}
.footer-contact a{
    display: block;
    padding: 10px 0px;
    transition: all .2s ease-in-out;
}
.footer-contact a:hover{
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
    color: var(--dcs-emerald-dark) !important;
    transition: all .2s ease-in-out;
}
.tel a{
    font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (2600 - 300))) !important;
    line-height: 1 !important;
    color: var(--pure-white) !important;
}
.mail a{
    font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (2600 - 300))) !important;
    line-height: 1 !important;
    color: var(--pure-white) !important;
}
.footer-links-block{
    width: 70%;
}
.footer-links span{
    font-family: var(--dm-mono-font);
    font-size: 14px;
    line-height: 0.6;
    color: #6C6C6C;
}
.footer-links ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.footer-links a{
    font-family: var(--dm-mono-font) !important;
    font-size: 14px !important;
    padding: 8px 0px;
    display: block;
    width: max-content;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}
.footer-link a:hover{
    transition: all .2s ease-in-out;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
    color: var(--dcs-emerald-dark) !important;
}
.footer-link a:hover .footer-link-img{
    filter: invert(47%) sepia(38%) saturate(811%) hue-rotate(86deg) brightness(106%) contrast(83%);
    transition: all .2s ease-in-out;
}
.footer-link img{
    margin-right: 5px;
    transition: all .2s ease-in-out;
}
.footer-bottom-col{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.copyright{
    width: 50%;
}
.copyright span{
    font-family: var(--dm-mono-font);
    font-size: 16px;
    font-weight: 400;
}
.partners{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer{
    position:relative;
}
@media (max-width: 998px) {
    .footer-category-section{
        flex-direction: column;
    }
    .what-is-dcs-and-certificate{
        width: 100%;
        flex-direction: column;
    }
    .what-is-dcs-headline{
        width: 70% !important;
    }
    .certificate-img img{
        width: 50% !important;
        float: right;
    }
    .footer-bottom-col{
        flex-direction: column;
    }
    .copyright{
        width: 100%;
        margin-top: 30px;
        order: 2;
    }
    .partners{
        width: 100%;
    }
    .optimisation-section{
        padding-right: 1.5% !important;
    }
}
.solution-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.solution-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.solution{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    margin-bottom: 20px;
}
.solution img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.solution:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    top: 0px;
    left: 0px;
}
.solution-content{
    padding: 30px 25px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
}
.solution-header{
    display: flex;
    justify-content: space-between;
}
@media(max-width:992px){
    .solution-header{
        flex-direction: column;
    }
}
.solution-title{
    width: 100%;
}
.solution-paragraph{
    width: 100%;
    color: var(--pure-white) !important;
}
.headline-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: relative;
}
.headline-check-qualities{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-end;
    position: absolute;
    bottom: 3%;
    right: 1.5%;
}
.check-qualities{
    width: 100%;
}
.check-quality{
    font-family: var(--neue-machina-font);
    font-size: 18px;
    color: var(--pure-white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--line-color);
    padding: 10px 0px;
}
.check-quality:first-of-type{
    border-top: 1.5px solid var(--line-color);
}
@media (max-width:992px){
    .check-qualities{
        width: 100% !important;
    }
    .headline-main{
        margin-bottom: 10%;
        max-width: 80%;
    }
}
.benefits-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.benefits{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.benefit{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--pure-white);
    padding-top: 10px;
    margin-bottom: 35px;
    align-items: center;
}
.benefit-title{
    font-family: var(--neue-machina-font);
    font-size: var(--subhead-2-font);
    color: var(--headlines-color);
}
.benefit-number-and-title{
    width: 100%;
}
.benefit-info{
    width: 100%;
    margin: 0px;
}

@media (max-width:768px){
    .benefit{
        flex-direction: column;
    }
    .benefit-info{
        margin-top: 5px;
    }
    .benefits-section .intro-info-text{
        margin-bottom: 30px !important;
    }
}
.single-case-study-section{
    border-bottom: 1px solid var(--line-color); 
}
.case-study-block-footer-content{
    display: flex;
    flex-direction: column;
}
.single-case-study-block-1{
    font-family: var(--neue-machina-font);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.case-study{
    font-size: 14px;
    margin-bottom: 10px;
}
.case-study-link{
    font-family: var(--dm-mono-font);
    text-transform: uppercase;
    color: var(--pure-white) !important;
}
.case-study-link:hover{
    filter: invert(47%) sepia(38%) saturate(811%) hue-rotate(86deg) brightness(106%) contrast(83%);
    text-decoration: underline !important;
    text-underline-offset: 3px;
    text-decoration-style: dotted !important;
    transition: all .3s ease-in-out;
}
.case-study-info{
    font-size: 20px;
    color: var(--pure-white);
    margin-bottom: 20px;
}
.single-case-study-picture-block img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: center center;
}
.single-case-study-picture-block{
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding:35px 25px;
}
.picture-block-content .title{
    font-family: var(--neue-machina-font) !important;
    font-size: var(--subhead-3-font) !important;
    color: var(--pure-white);
}
.case-study-quote{
    margin-bottom: 7%;
}
.picture-block-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.single-case-headline-block h1{
    max-width: 100% !important;
    padding-bottom: 20px;
}
.single-case-headline-block{
    justify-content: space-between;
    padding-top: 50px;
}
.project-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.project-detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--pure-white);
    padding: 15px 0px;
    font-size: 16px;
    text-align: right;
}
.project-detail .client{
    color: var(--pure-white) !important;
    text-align: left !important;
}
@media(max-width:992px){
    .single-case-header-section{
        height: 93vh !important;
    }
    .single-case-headline-block{
        height: 100%;
    }
    .challenge-image{
        padding: 3% 0px !important;
    }
    .challenge-text span{
        margin-bottom: 20px;
    }
    .single-case-study-quote{
        margin-top: 30px;
    }
    .company-news-headline-block{
        height: 100% !important;
        justify-content: flex-end !important;
        max-width: 80% !important;
    }
}
.challenge-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.challenge-text span{
    font-size: var(--subhead-3-font);
    font-family: var(--neue-machina-font);
    color: var(--pure-white);
}
.challenge-text p{
    margin: 0px;
}
.challenge-image{
    padding: 3% 0px;
    padding-left: 3%;
}
.challenges-section{
    border-top: 1px solid var(--line-color);
}
.count-solution-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.solution-count-col{
    padding: 3% 0px !important
}
.company-news-headline-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    max-width: 50%;
}
.free-audit-headline-block{
    max-width: 60%;
}
.news-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.news-information{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px !important;
}
@media(min-width:992px){
    .news-information{
        padding-right: 5%;
        padding-bottom: 0px !important;
    }
    .news-information .date{
        font-size: 24px !important;
    }
}
.news-information .date{
    font-size: 16px;
    font-family: var(--neue-machina-font);
    color: var(--pure-white);
    font-weight: 300;
    margin-bottom: 20px;
}
.news-title span{
    font-size: var(--subhead-2-font);
    color: var(--pure-white);
    line-height: 1;
    font-family: var(--neue-machina-font);
}
.news-paragraph{
    margin: 10px 0px;
}
.news-link{
    font-size: var(--links-font);
    text-transform: uppercase;
    color: var(--pure-white) !important;
    transition: all .3s ease-in-out;
}
.news-link img{
    padding-right: 5px;
}
.news-link:hover{
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
    filter: invert(47%) sepia(38%) saturate(811%) hue-rotate(86deg) brightness(106%) contrast(83%);
    transition: all .3s ease-in-out;
}
.pagination{
    display: flex;
    width: fit-content;
    justify-content: space-between;
}
.pag-numbers{
    list-style: none;
    display: flex;
    padding: 0px 10px!important;
}
.pag-nm{
    padding: 0px 5px;
}
.pag-active{
    color: var(--pure-white);
}
.pag-active::before{
    content: '[';
}
.pag-active::after{
    content: ']';
}
.pag-next-prev-links{
    text-decoration: underline !important;
    text-underline-offset: 2px;
}
.pagination-section{
    border-bottom: 1px solid var(--line-color);
}
.single-news-headline-block h1{
    max-width: 100% !important;
}
.single-news-article-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.article-col{
    padding: 3% 0% !important;
}
.article-col-second{
    padding: 3% 0% !important;
}
.article-info{
    font-family: var(--neue-machina-font);
    display: flex;
    flex-direction: column;
}
.article-autor{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.article-categories{
    display: flex;
    flex-direction: column;
}
.categories-list{
    list-style: none;
    padding: 0px;
}
.author, .categories{
    color: var(--pure-white);
}
.article-content h2{
    margin-top: 20px;
    margin-bottom: 30px;
}
@media (min-width: 992px){
    .article-content{
        padding-left: 3%;
    }
    .article-col{
        border-right: 1px solid var(--line-color);
    }
    .article-content h2{
        text-indent: 10%;
    }
    .read-next-article-block{
        padding-left: 3%;
    }
    .article-title{
        max-width: 60%;
    }
    .next-article-col{
        border-top: none !important;
    }
}
.article-quote{
    border-left: 1px solid var(--line-color);
    padding-left: 20px;
    margin: 7% 0px;
}
.article-quote-id{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-bottom: 3%;
    line-height: 1.2;
    font-weight: 400 !important;
    font-family: var(--neue-machina-font);
}
.quote-paragraph{
    font-size: 32px;
    line-height: 1.2;
    font-family: var(--neue-machina-font);
    color: #ffffff80;
}
.paragraph-list-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
}
.paragraph-list-item span{
    width: 20%;
}
.next-article{
    display: flex;
    flex-direction: column;
}
.article-title{
    font-size: var(--subhead-2-font);
    font-family: var(--neue-machina-font);
    color: var(--pure-white);
    padding: 20px 0px;
}
.article-date{
    font-family: var(--neue-machina-font);
    color: var(--pure-white);
}
.read-next-article{
    font-family: var(--neue-machina-font);
}
.next-article-col{
    border-top: 1px solid var(--line-color);
}
.contact-headline-block{
    max-width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-headline-block h1{
    max-width: 100% !important;
}
.contact-headline-block div>p{
    display: none;
}
@media(max-width:992px){
    .contact-headline-block{
        max-width: 100%;
        justify-content: flex-end !important;
    }
    .contact-headline-block div>p{
        display: block;
        max-width: 50%;
    }
}

@media(max-width: 768px){
    .contact-headline-block div>p{
        max-width: 100%;
    }
}
.contact-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.contact-informations{
    display: flex;
    flex-direction: column;
    font-family: var(--neue-machina-font);
    font-size: 16px;
    padding: 20px 0px;
}
.contact-informations p{
    margin: 0px;
}
.contact-info span{
    color: var(--pure-white);
}
.form-group input, textarea{
    padding: 20px;
    width: 100%;
    background-color: #c4c4c420;
    border: none;
    color: var(--pure-white);
    margin-top: 10px !important;
    font-family: var(--neue-machina-font) !important;
    margin-bottom: 20px !important;
}

.contact-field-title{
    font-size: 14px;
    font-family: var(--neue-machina-font);
    color: var(--pure-white);
    
}
input[type=submit]{
    padding: 15px 20px;
    border: none;
    position: relative;
    background-color: var(--dcs-violet);
    color: var(--pure-white) !important;
    font-size: var(--button-text-font) !important;
    transition: background-color .3s ease-in-out;
    text-transform: uppercase !important;
    font-family: var(--neue-machina-font);
}
input[type=submit]:hover{
    background-color: var(--dcs-emerald-dark);
    transition: background-color .3s ease-in-out;
}
.input-button{
    width: fit-content !important;
}
.free-audit-section{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.audit-col{
    padding: 3% 0% !important;
}
.audit-col-second{
    padding: 3% 3% !important;
}
@media(max-width:992px){
    .audit-col{
        order: 2;
    }
    .audit-quality-block:nth-child(1){
        border-top: 1px solid var(--line-color);
    }
}
@media(min-width:992px){
    .audit-col{
        border-right: 1px solid var(--line-color);
    }
}
.audit-quality-block{
    padding: 30px 3%;
}
.audit-quality-block:nth-child(2){
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}
.audit-title{
    font-size: var(--subhead-1-font);
    color: var(--pure-white);
    font-family: var(--neue-machina-font);
}
.audit-quality-block .testimonial-id{
    border-left: 1px solid var(--line-color);
    padding-left: 10px;
    padding-top: 0px !important;
}
.telephone-number{
    padding-top: 10%;
    width: 100%;
    border-bottom: 1px solid var(--pure-white);
}
.telephone-number h2{
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}
.telephone-number h2:hover{
    color: var(--dcs-emerald-dark) !important;
    transition: all .3s ease-in-out;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
    text-underline-offset: 3px;
}
.form-groups{
    padding-top: 5%;
}
.audit-content{
    padding: 20px;
    position: relative;
    margin-bottom: 40px;
}
.audit-form-top-borders::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid var(--pure-white);
    border-top: 1px solid var(--pure-white);
    top:0px;
    left: 0px;
}
.audit-form-top-borders::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--pure-white);
    border-top: 1px solid var(--pure-white);
    top:0px;
    right: 0px;
}
.audit-form-bottom-borders::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid var(--pure-white);
    border-bottom: 1px solid var(--pure-white);
    bottom: 0px;
    left: 0px;
}
.audit-form-bottom-borders::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--pure-white);
    border-bottom: 1px solid var(--pure-white);
    bottom: 0px;
    right: 0px;
}